.full-category
	ul.full-category__list.clearfix
		li.full-category__item
			span.full-category__title Управление проектами на промышленных предприятиях
			.inserte__id-wrap
				span.inserte__id 1
			span.full-category__time 30:00
			p.full-category__info Краткая информация о видео Краткая информация о видео Краткая информация о видео Краткая информация о видео Краткая информация о видео Краткая информация о видео Краткая информация о видео
		




