meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=1120")
meta(name="description", content="Learning resource of corporation Galaktika")
meta(name="author", content="Natalya Givoyno")
title Корпорация "Галактика"
link(rel="shortcut icon", href="/favicon.png", type="image/x-icon")
link(rel="icon", href="/favicon.png", type="image/x-icon") 
link(rel="stylesheet", href="bower/normalize-css/normalize.css")
link(rel="stylesheet" href="images/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css")
//- link(rel="stylesheet" href="path/to/pe-icon-7-stroke/css/helper.css")
