.player__item
	.video
		.video__item
			video.video-js.vjs-skin.vjs-16-9(controls="controls" data-setup='{}')
				source.video__content(src="content/video/ERP/ERP1.mp4" type='video/mp4')
				p.vjs-no-js JavaScript не поддерживается!
		.video__text
			h3.video__title Управление проектами на промышленных предприятиях
			p.video__info Информация о видео
			i.icon-resize-small.icon-large